/* Share On 2.2.0 */
.facebook-icon, .facebook-icon a	{ background: none top left no-repeat; }
.twitter-icon, .twitter-icon a		{ background: none top left no-repeat; }
.tuenti-icon, .tuenti-icon a		{ background: none top left no-repeat; }
.sonico-icon, .sonico-icon a		{ background: none top left no-repeat; }
.friendfeed-icon, .friendfeed-icon a{ background: none top left no-repeat; }
.orkut-icon, .orkut-icon a			{ background: none top left no-repeat; }
.digg-icon, .digg-icon a			{ background: none top left no-repeat; }
.reddit-icon, .reddit-icon a		{ background: none top left no-repeat; }
.delicious-icon, .delicious-icon a	{ background: none top left no-repeat; }
.vk-icon, .vk-icon a				{ background: none top left no-repeat; }
.myspace-icon, .myspace-icon a		{ background: none top left no-repeat; }
.tumblr-icon, .tumblr-icon a		{ background: none top left no-repeat; }
.google-icon, .google-icon a		{ background: none top left no-repeat; }
/* Share On 2.2.0 */

/* Share On 2.2.0 */
ul.profile-icons li.facebook-icon	{ width: 20px; height: 20px; }
ul.profile-icons li.twitter-icon	{ width: 20px; height: 20px; }
ul.profile-icons li.tuenti-icon		{ width: 20px; height: 20px; }
ul.profile-icons li.sonico-icon		{ width: 20px; height: 20px; }
ul.profile-icons li.friendfeed-icon	{ width: 20px; height: 20px; }
ul.profile-icons li.orkut-icon		{ width: 20px; height: 20px; }
ul.profile-icons li.digg-icon		{ width: 20px; height: 20px; }
ul.profile-icons li.reddit-icon		{ width: 20px; height: 20px; }
ul.profile-icons li.delicious-icon	{ width: 20px; height: 20px; }
ul.profile-icons li.vk-icon			{ width: 20px; height: 20px; }
ul.profile-icons li.myspace-icon	{ width: 20px; height: 20px; }
ul.profile-icons li.tumblr-icon		{ width: 20px; height: 20px; }
ul.profile-icons li.google-icon		{ width: 20px; height: 20px; }
/* Share On 2.2.0 */