	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<div id="wrapfooter">
	<!-- IF U_ACP --><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><br /><!-- ENDIF -->
	<span class="copyright">Powered by <a href="http://www.phpbb.com/">phpBB</a>&reg; Forum Software &copy; phpBB Group
	<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
	<!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span>
</div>

<br />      
	  <!-- IF DEBUG_OUTPUT -->
	  <br />
	  <bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo>
	  <!-- ENDIF -->
	  </span>    </p>
</div>
  <!-- Begin google Adsense -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <div align="center">
<script type="text/javascript"><!--
google_ad_client = "pub-8116810858002360";
/* 728x90, gemaakt 22-11-08 */
google_ad_slot = "2705890726";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
      </div></td>
  </tr>
</table>
  <!-- Eind google Adsense -->
<p>&nbsp;</p>
</body>
</html>