#!/bin/bash

USER="{{ db_backups.remote_user }}"
HOST="{{ db_backups.remote_host }}"

TARGETDIR=/home/{{ user }}/backup/{{ env }}

echo "Ensuring target dir exists"
ssh $USER@$HOST mkdir -p $TARGETDIR

for folder in {{ db_folders|join(' ') }}
do
    echo "Transfering $folder backups to $HOST"
    rsync -rv --delete -e ssh {{ backups_dir }}/$folder/ $USER@$HOST:$TARGETDIR/$folder/
    if [ $? -eq 1 ]; then
        echo "Transfer failed"
        exit 1
    fi
done

echo "Backup transfer completed"
