    <!-- IF not S_WM_SPECIAL_ON_OFF or not S_HIDE_GROUP_WM -->
    <script type="text/javascript">
    // <![CDATA[
    function getMax(anumber, another) {
        return((anumber> another) ? anumber : another);
    }
    function resizeTextArea(t, minRows, minCols) {
        t.rows = minRows;
        t.setAttribute("wrap", "off");
        t.style.overflow = "auto";
        lines = t.value.split("\n");
		
        if (arguments.length> 2) {
            t.cols = minCols;
            maxChars = lines[0].length;
            for(i = 1; i <lines.length; i++) {
                currentLength = lines[i].length;
                if (currentLength> maxChars) maxChars = currentLength;
            }
            t.cols = getMax(maxChars, minCols);
        }
        t.rows = getMax(lines.length + 1, minRows);
    }
    // ]]>
    </script>
	
    <script type="text/javascript">
	// <![CDATA[
      function spoile(id){
       if (document.getElementById) {
        var s = document.getElementById(id);
        s.style.display = (s.style.display=='block'?'none':'block');
        } 
      }
	 // ]]>
    </script>
	<!-- ENDIF -->

  <!-- IF (S_WM_ONOFF or S_WM_CONVERT or S_WM_CONVERT_HIGH) -->


  	        <!-- IF S_WM_ONOFF -->
			 <input type="hidden" name="wmglobalattach" value="attachyes" /> 
		   <!-- ENDIF -->
			<!-- IF S_WM_CONVERT -->[img]&nbsp;
			<input class="wmiehack" type="radio" name="wmglobalimg" value="imgyes" /><span style="text-transform: lowercase;">{L_YES}</span>
		    <input class="wmiehack" type="radio" name="wmglobalimg" value="imgno" checked="checked" /><span style="text-transform: lowercase;">{L_NO}</span>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- ENDIF -->
			<!-- IF S_WM_CONVERT_HIGH -->
			 <input type="hidden" name="wmglobalimghigh" value="imghighyes" /> 
			<!-- ENDIF -->
	
 <!-- ENDIF -->

